.first-part{
    display: flex;
    padding-left: 80px;
}
.htext{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    border-left: 5px solid blueviolet ;
  
}
.header-text{
    color: rgb(240, 16, 16);
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
    padding-left: 80px;
}
.font{
    font-family: 'Poppins', sans-serif;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 115, 0, 0.753), rgba(128, 0, 32, 0.61));
    padding: 10px 30px;
    border-radius: 5px;

}
.second-part{
    display: flex;
}
.htext2{
    font-size: 40px;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
}
.header-text2{
    color: rgb(240, 16, 16);
    
}
.box1{
    background-image: linear-gradient(rgba(0, 128, 0, 0.24), rgba(255, 0, 0, 0.356));
    box-shadow: 10px 10px 5px rgba(190, 37, 70, 0);
    width: 33.3%;
    margin-left: 6%;
    margin-right: 1%;
    padding: 1px 1px;
    border-radius: 5%;
    

}
.box1 img{
    width: 50%;
}
.box2{
    background-image: linear-gradient(rgba(0, 9, 128, 0.24), rgba(60, 255, 0, 0.356));
    box-shadow: 10px 10px 5px rgba(190, 37, 70, 0);
    width: 33.3%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1px 1px;
    border-radius: 5%;
}
.box2 img{
    width: 50%;
}
.box3{
    background-image: linear-gradient(rgba(240, 20, 20, 0.24), rgba(229, 255, 0, 0.295));
    box-shadow: 10px 10px 5px rgba(190, 37, 70, 0);
    width: 33.3%;
    margin-left: 1%;
    margin-right: 6%;
    padding: 1px 1px;
    border-radius: 5%;
}
.box3 img{
    width: 50%;
}
.third-part{
    display: flex;
    padding-left: 80px;
}
.htext3{
    font-size: 40px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

